.boxMod {
    font-size: calc(10px + 3vmin);
    color: rgb(255, 255, 255);
    background-color: rgb(58, 4, 129);
    font-weight: bold;
    border-radius: 0.5vmin;
    outline: 0.25vmin;
    outline-style: outset;
    display: inline-block;
    width: calc((10px + 3vmin)*2);
    padding: 1vmin;
    margin: 1vmin;
    height: calc(2rem + 1vmin);;
}
form.modForm span {
    float: left;
}
form.modForm input.modTextbox {
    width: 2rem;
    height: 2rem;
    align-content: center;
    font-size: calc(10px + 1.5vmin);
    font-weight: regular;
    float: left;
    
}
form.modBox::after {
    float: none;
}
