button {
    border: none;
    background-color: #607D8B;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    /*font-weight: bold;*/
    font-family: 'Consolas', sans-serif;
    cursor: pointer;
    border-radius: 0.5vmin;
    outline: 0.25vmin;
    outline-style: outset;
}

button:hover {
    background-color: #5F6C7A;
}
.back {
    grid-column: 3 / 1;
    background-color: #9b0f0f;
}
.back:hover {
    background-color: #8a0e0e;
}
.roll {
    grid-column: 3 / 5;
    background-color: #795548;
}

.roll:hover {
    background-color: #684437;
}